
<div id="nav-col-submenu"></div>
</div>

<div id="content-wrapper">

<div class="row" style="opacity: 1;">
<div class="col-lg-12">

  <div class="row">
            <div class="col-lg-12">
              <div class="main-box clearfix" style="min-height: 520px;"> <br>
                <div class="main-box-body clearfix">
                  <div id="myWizard" class="wizard">
                    <div class="wizard-inner">
                      <ul class="steps" style="margin-left: 0">
                        <li data-target="#step1" class="active"><span class="badge badge-primary">1</span>Project Analysis<span class="chevron"></span></li>
                        <li data-target="#step2" class=""><span class="badge">2</span>Biz Analysis<span class="chevron"></span></li>
                        <li data-target="#step3"><span class="badge">3</span>Pics<span class="chevron"></span></li>
                      </ul>
                      <div class="actions">
                        <button type="button" class="btn btn-default btn-mini btn-prev" disabled="disabled"> <i class="icon-arrow-left"></i>Prev</button>
                        <button type="button" class="btn btn-success btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
                      </div>
                    </div>
                    <div class="step-content">
                      <div class="step-pane active" id="step1"> <br>
                        <div class="project-analysis-div">
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Profile</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Name</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter your Name">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Email</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="email"  placeholder="Enter your Email">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Mobile</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter your mobile number">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Shop Dimensions</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Min SBA of 600 Sq Ft
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Super Built Up Area</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Super Built Up Area">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Built up Area</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Built up Area">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Carpet Area</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Carpet Area">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Clear Height</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Clear Height">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label> No Seepage</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Enter No Seepage</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>No Mezzanine floor</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Enter No Mezzanine floor </option>
                                    <option>Yes</option>
                                    <option>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Please confirm no hindrance</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Enter Please confirm no hindrance</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Power Back Up & Load</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Enter Power Back Up & Load</option>
                                    <option>KVN</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Current Flooring</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Current Flooring">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Current Ceiling</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Current Ceiling">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Current Walls Status</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Current Walls Status">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Fire safety</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Enter Fire safety</option>
                                    <option>Provisions</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>GSB Opportunity</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter GSB Opportunity">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>ISB/OSB/Special visibility Opportunity</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter ISB/OSB/Special visibility Opportunity">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Any other Hygeine/Safety/Branding issue</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control has-error" required type="text" placeholder="Enter Any other Hygeine/Safety/Branding issue">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Catchment Analsysis</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Remark</label>
                                </div>
                                <div class="col-md-8">
                                  <textarea class="form-control" Placeholder="Enter Your Remark"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Catchment Population(5 Kms Radius)</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder"Enter Catchment Population 5 Kms Radius">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Colonies covered within</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Colonies covered within">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Business</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Name  & Business of 10 Shops
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label><strong>Left Side</strong></label>
                            </div>
                            <div class="col-md-4">
                              <label><strong>Right Side</strong></label>
                            </div>
                            <div class="col-md-4">
                              <label><strong>Opposite Side</strong></label>
                            </div>
                          </div>
                          <div id="dynamicInput">
                            <div class="project-analysis-div">
                              <div class="row">
                                <div class="col-md-4" >
                                  <input type="text" class="form-control" name="myInputs[]" placeholder="Enter Your Left Side">
                                </div>
                                <div class="col-md-4" >
                                  <input type="text"  class="form-control" name="myInputs[]" placeholder="Enter Your Right Side">
                                </div>
                                <div class="col-md-4" >
                                  <input type="text"  class="form-control" name="myInputs[]" placeholder="Enter Your Opposite Side">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <button type="button" class="btn btn-primary" onClick="addInput('dynamicInput');"> Add <i class="fa fa-plus"></i> </button>
                              <button type="button" class="btn btn-primary" onClick="deleteInput('dynamicInput');"> Delete <i class="fa fa-plus"></i> </button>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-5">
                                  <label>Mobile Brand stores near our proposed store</label>
                                </div>
                                <div class="col-md-7">
                                  <input class="form-control" type="text" placeholder="Enter Mobile Brand stores near our proposed store">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-5">
                                  <label>Consumer Durable / Electronics Stores near our proposed store</label>
                                </div>
                                <div class="col-md-7">
                                  <input class="form-control" type="text" placeholder="Enter Consumer Durable / Electronics Stores near our proposed store">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-5">
                                  <label>No of RSP counters In 5 KMS Radius</label>
                                </div>
                                <div class="col-md-7">
                                  <input class="form-control" type="text" placeholder="Enter No of RSP counters In 5 KMS Radius">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-5">
                                  <label>No of SIS counters In 5 KMS Radius</label>
                                </div>
                                <div class="col-md-7">
                                  <input class="form-control" type="text" placeholder="Enter No of SIS counters In 5 KMS Radius">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Shop Ownership</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Type</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Select</option>
                                    <option>Owned</option>
                                    <option>Rented</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Title of ownership</label>
                                </div>
                                <div class="col-md-8">
                                  <select class="form-control">
                                    <option>Select Your Title of ownership</option>
                                    <option>Clear</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Duration</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Duration">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Parking Available</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Parking Available">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>No Hindrance to entrance </label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter No Hindrance to entrance">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Partner Analysis</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Name of Business Entity</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Name of Business Entity">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Structure of business entity</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Structure of business entity">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Ownership</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" placeholder="Enter Ownership">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Biz 1</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Current Business areas & entities
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Current Business areas & entities</label>
                            </div>
                            <div class="col-md-2">
                              <label>Name of Business Entity</label>
                            </div>
                            <div class="col-md-2">
                              <label>Structure of business entity</label>
                            </div>
                            <div class="col-md-2">
                              <label>Ownership</label>
                            </div>
                            <div class="col-md-2">
                              <label>Turnover</label>
                            </div>
                            <div class="col-md-2">
                              <label>Manpower</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Current Business areas & entities">
                            </div>
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Name of Business Entity">
                            </div>
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Structure of business entity">
                            </div>
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Ownership">
                            </div>
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Turnover">
                            </div>
                            <div class="col-md-2">
                              <input class="form-control" type="text" placeholder="Enter Manpower">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Give a brief about business & its areas of operation</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <textarea class="form-control"></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <button type="button" class="btn btn-primary" > Add <i class="fa fa-plus"></i> </button>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                             
                          </div>
                        </div>
                      </div>
                      <div class="step-pane" id="step2"> <br>
                        <div class="project-analysis-div">
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>EBITDA Projection for next 1 year of Operation</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Revenue( In lakhs) - Sales projection
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Revenue( In lakhs) - Sales projection">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Margin Percentage
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Margin Percentage">
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Gross Profit</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Manpower Cost Total(1 Store manager, 2 sales man)
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter  Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Manpower Cost Total">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Electricity Cost
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Electricity Cost ">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Electricity Cost">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Rental Cost/Actual or notional
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Rental Cost/Actual or notional">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> House Keeping
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter House Keeping">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Internet & Communicaiton
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Internet & Communicaiton">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Hardware Deprecitaion
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Hardware Deprecitaion">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Stationery
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Stationery">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Other Overheads
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Other Overheads">
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Stock Investment Plan</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> No of SKUs
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter No of SKUs">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Volume
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Volume">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading"> Value
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 1</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 2</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 3</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 4</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 5</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 6</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <label>Month 7</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 8</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 9</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 10</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 11</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                            <div class="col-md-2">
                              <label>Month 12</label>
                              <input class="form-control" placeholder="Enter Value">
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Industry Analysis</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>City Mobile Biz</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Area Mobile Biz</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter Area Mobile Biz">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter Area Mobile Biz">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Gionee</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter Gionee">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter Gionee">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>ASP</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter ASP">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter ASP">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading">Comp 1 Value
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>City Mobile Biz</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Area Mobile Biz</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Gionee</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter City Mobile Biz">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>ASP</label>
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter ASP">
                                </div>
                                <div class="col-md-4">
                                  <input class="form-control" placeholder="Enter ASP">
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-1">
                              <button type="button" class="btn btn-primary" onClick="addInput('dynamicInput');"> Add <i class="fa fa-plus"></i> </button>
                            </div>
                          </div>
                          <hr>
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Competition Analysis</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading">Comp 1
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>Name of Entity</label>
                              <input class="form-control" placeholder="Enter Name of Entity">
                            </div>
                            <div class="col-md-3">
                              <label>Sales Average Value</label>
                              <input class="form-control" placeholder="Enter Sales Average Value">
                            </div>
                            <div class="col-md-3">
                              <label>Sales Avergae Volume</label>
                              <input class="form-control" placeholder="Enter Sales Avergae Volume">
                            </div>
                            <div class="col-md-3">
                              <label>ASP</label>
                              <input class="form-control" placeholder="Enter ASP">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>Price Band wise sales Value</label>
                              <select class="form-control">
                                <option> > 30k</option>
                                <option> 20 to 30k</option>
                                <option> 10 to 20K</option>
                                <option> 5 to 10 K</option>
                                <option> < 5K</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                              <label>Store Size SBA</label>
                              <input class="form-control" placeholder="Enter Store Size SBA">
                            </div>
                            <div class="col-md-3">
                              <label>Store Frontage</label>
                              <input class="form-control" placeholder="Enter Store Frontage">
                            </div>
                            <div class="col-md-3">
                              <label>Store Strength(Example)</label>
                              <input class="form-control" placeholder="Enter Store Strength(Example)">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label> Any highlight for competition</label>
                              <input class="form-control" placeholder="Enter Any highlight for competition">
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-1">
                              <button type="button" class="btn btn-primary" onClick="addInput('dynamicInput');"> Add <i class="fa fa-plus"></i> </button>
                            </div>
                          </div>
                          <hr>
                          <br>
                          <div class="row">
                            
                          </div>
                        </div>
                      </div>
                      <div class="step-pane" id="step3"><br>
                        <div class="project-analysis-div">
                          <div class="panel">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Please paste pic in 4*5 dimension & give a heading to each pic in this sheet</h2>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="sub-heading">Please send pictures -
                                <hr>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>Shop Front view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>Left wall view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>right wall view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>ceiling</label>
                              <input class="form-control" type="file">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>flooring</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>Inside out view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>outside in view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>Complete shop building view</label>
                              <input class="form-control" type="file">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>left 10 shops</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>right shops</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>oppsosite foot shops view</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>catchment pictures</label>
                              <input class="form-control" type="file">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <label>pics of prominent mobile & electronics players</label>
                              <input class="form-control" type="file">
                            </div>
                            <div class="col-md-3">
                              <label>experience shops</label>
                              <input class="form-control" type="file">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <button class="btn btn-primary">Submit</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
 
</div>
</div>

 
<script src="/assets/new_design/jquery.js"></script>
<script src="/assets/new_design/bootstrap.js"></script>
 

 
<script src="/assets/wizard.js"></script>

<script>
var counter = 1;
var limit = 3;
var newdiv;
function addInput(divName){     
    newdiv = document.createElement('div');
newdiv.setAttribute('id', 'div_' + counter);
    newdiv.innerHTML =  "<div  class='close-div'><a href='' onclick='deleteInput()'><i class='fa fa-times'></i></a></div><div id='d' class='project-analysis-div'><div class='row'><div class='col-md-4'> <input type='text' class='form-control' name='myInputs[]'></div>"+"<div class='col-md-4'> <input type='text' class='form-control' name='myInputs[]'></div>"+" <div class='col-md-4'> <input type='text' class='form-control' name='myInputs[]'></div></div></div>";
    document.getElementById(divName).appendChild(newdiv);
    counter++;
}
function deleteInput(divName){     
 
if(0 < counter)
{
$("#d").remove();
counter--;
 }
 else
{
 alert("cnt delete");
}
}
</script>
 

 